.limpmais-container {
    text-align: center;
    background-color: #f9f9f9; /* Fundo claro */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 28px;
    color: #75048a; /* Roxo principal */
    margin-bottom: 20px;
  }
  
  .cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* cards */
  /* cards */
  /* cards */


  /* Estilo base para os 3 cartões */
.card-recepcao,
.card-pda,
.card-administracao {
  color: white;
  width: 200px;
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: large;
  border-radius: 10px;
  font-size: 22px;
  transition: all 0.3s ease; /* Transição suave para os efeitos */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra inicial suave */
}

/* Efeito Hover para .card-recepcao */
.card-recepcao {
  background-color: #faa105; /* Laranja */
}

.card-recepcao:hover {
  transform: translateY(-5px); /* Eleva o cartão */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
  background-color: #e68600; /* Laranja mais escuro no hover */
}

/* Efeito Hover para .card-pda */
.card-pda {
  background-color: #2060de; /* Azul */
}

.card-pda:hover {
  transform: translateY(-5px); /* Eleva o cartão */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
  background-color: #1a4bb8; /* Azul mais escuro no hover */
}

/* Efeito Hover para .card-administracao */
.card-administracao {
  background-color: #2daf09; /* Verde */
}

.card-administracao:hover {
  transform: translateY(-5px); /* Eleva o cartão */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
  background-color: #249f06; /* Verde mais escuro no hover */
}

/* Efeito Active (pressionado) para todos os cartões */
.card-recepcao:active,
.card-pda:active,
.card-administracao:active {
  transform: translateY(2px); /* Efeito de pressionamento */
}
